.login{
    background-color: darkblue;
    color: white;
}

.loginpage{
    color: cyan;
    font-size: 50px;
}

.username1{
    font-size:15px;
    color:blue;
}

.password1{
    font-size: 15px;
    color:blue;
}